USER_LANGUAGE="en"
USER_NO_STOP="y"
USER_INSTALL_TYPE="agent"
USER_AGENT_SERVER_IP="{{ ossec_server_ip }}"
USER_DIR="{{ ossec_dir }}"
USER_UPDATE="y"
USER_UPDATE_RULES="y"
USER_ENABLE_ACTIVE_RESPONSE="y"
USER_ENABLE_SYSCHECK="y"
USER_ENABLE_ROOTCHECK="y"
USER_UPDATE="y"
USER_UPDATE_RULES="y"